/* Каталог */

.filter-price__spoiler-body, .filter-type-brake__spoiler-body, .filter-number-transmission__spoiler-body, .filter-type-transmission__spoiler-body, .filter-material__spoiler-body, .filter-subtitle__spoiler-body, .filter-brand__spoiler-body{
    display:none;
}

.catalog-page{
    margin-top: 30px;
}

.catalog-page__filter{
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px 1px #eaeaea;
    box-shadow: 0 5px 10px 1px #eaeaea;
}

.catalog-page__filter-title{
    border-bottom: 1px solid #6dcff6;
}

.catalog-page__filter-title > p{
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    padding: 15px;
    margin-bottom: 0;
}

.catalog-page__filter-subtitle{
    font-weight: 600;
    font-size: 12px;
    color: #000;
    text-transform: lowercase;
    border: 1px solid #6dcff6;
    border-top: none;
    margin-left: 15px;
    margin-right: 100px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #6dcff6;
}

.catalog-page__filter-year, .catalog-page__filter-brand, .catalog-page__filter-material, .catalog-page__filter-type-transmission, .catalog-page__filter-number-transmission, .catalog-page__filter-type-brake{
    border-bottom: 1px solid #6dcff6;
}

.filter-subtitle__spoiler-body > p, .filter-brand__spoiler-body > p, .filter-material__spoiler-body > p, .filter-type-transmission__spoiler-body > p, .filter-number-transmission__spoiler-body > p, .filter-type-brake__spoiler-body > p, .filter-price__spoiler-body > p{
    padding-left: 15px;
    margin-bottom: 0;
}

.filter-subtitle__spoiler-body > p:last-child, .filter-brand__spoiler-body > p:last-child, .filter-material__spoiler-body > p:last-child, .filter-type-transmission__spoiler-body > p:last-child, .filter-number-transmission__spoiler-body > p:last-child, .filter-type-brake__spoiler-body > p:last-child, .filter-price__spoiler-body > p:last-child{ padding-bottom: 20px; }

.filter-subtitle__spoiler-body > p > label, .filter-brand__spoiler-body > p > label, .filter-material__spoiler-body > p > label, .filter-type-transmission__spoiler-body > p > label, .filter-number-transmission__spoiler-body > p > label, .filter-type-brake__spoiler-body > p > label, .filter-price__spoiler-body > p > label{
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    padding-left: 5px;
    font-weight: normal;
}

.catalog-page__filter-btn{
    margin-top: 20px;
}

.catalog-page__filter-btn > input{
    width: 100%;
    background-color: #6dcff6;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid  #49afd7;
    border-top: none;
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
}

.catalog-page__content-title{
    -webkit-box-shadow: 0 9px 3px -2px #eaeaea;
    box-shadow: 0 9px 3px -2px #eaeaea;
    border: 1px solid  #6dcff6;
    background-color: #fff;
    height: 50px;
}

.catalog-page__control{
    margin-bottom: 20px;
    padding: 10px 14px;
}

.catalog-page__control-row, .catalog-page__control > button, .catalog-page__control-filter{
    display: inline-block;
    vertical-align: bottom;
}

.catalog-page__control > button{
    background-color: #6dcff6;
    border: none;
    border-bottom: 1px solid  #45abd4;
    width: 165px;
    color: #fff;
    font-size: 18px;
    text-transform: lowercase;
}

.catalog-page__control-filter{
    width: 51%;
    text-align: right;
}

.catalog-page__control-filter > span{
    padding-right: 20px;
}

.catalog-page__control-filter-select{
    display: inline-block;
}

.catalog:after, .catalog:before{
    content: "";
    display: table;
    clear: both;
}

.catalog-page__content-catalog{
    -webkit-box-shadow: 0 9px 3px -2px #eaeaea;
    box-shadow: 0 9px 3px -2px #eaeaea;
    border: 1px solid  #6dcff6;
    background-color: #fff;
    margin-top: 10px;
}

.catalog-page__content-catalog-product{
    border: 1px solid  #6dcff6;
    width: 29.6%;
    min-width: 200px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
}

.catalog-page__content-catalog-product:nth-child(3n+1){ margin-left: 14px;}
.catalog-page__content-catalog-product:nth-child(3n+2){ margin-left: 30px; margin-right: 30px;}

.catalog-page__content-catalog-product > img{
    width: 90%;
}

.catalog-page__content-catalog-product-title{
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.catalog-page__content-catalog-product-price{
    font-weight: bold;
    font-size: 18px;
    color: #000;
}

.catalog-page__content-catalog-product-btn, .catalog-page__content-catalog-product-price{
    display: inline-block;
    vertical-align: top;
}

.catalog-page__content-catalog-product-btn{
    margin-left: 30px;
    width: 110px;
}

.catalog-page__content-catalog-product-btn > .catalog-product-buy-btn{
    border: 1px solid  #6dcff6;
    background-color: #fff;
    color: #6dcff6;
    font-weight: bold;
    font-size: 14px;
    text-transform: lowercase;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
}

.catalog-page__content-catalog-product-btn > .catalog-product-buy-btn:after{
    content: "";
    display: block;
    width: 15px;
    height: 14px;
    background-image: url(../img/icon-catalog-btn-basket.png);
    position: absolute;
    bottom: 4px;
    right: 20px;

}

.catalog-page__content-catalog-product-btn > .catalog-product-compare-btn{
    background-color: #6dcff6;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-transform: lowercase;
    border: none;
    width: 100%;
    text-align: left;
}

.catalog-page__content-catalog-pagination{
    text-align: left;
    margin-left: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}


.catalog-page__content-catalog-result{
    text-align: right;
    margin-right: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 48%;
}

.catalog-page__content-carousel{
    -webkit-box-shadow: 0 9px 3px -2px #eaeaea;
    box-shadow: 0 9px 3px -2px #eaeaea;
    border: 1px solid  #6dcff6;
    background-color: #fff;
    margin-top: 30px;
}

.catalog-page__content-carousel > .carousel-skin{
    width: 85%;
    margin: 0 auto;
}

.catalog-page__content-carousel > .carousel-skin > .owl-carousel.owl-theme > .owl-controls.clickable > .owl-buttons > .owl-prev{
    left: -64px;
}

.catalog-page__content-carousel > .carousel-skin > .owl-carousel.owl-theme > .owl-controls.clickable > .owl-buttons > .owl-next{
    right: -64px;
}

@media (max-width: 767px){
    .catalog-page__content-catalog-product:nth-child(3n+2){margin: 30px auto;}
    .catalog-page__content-catalog-product:nth-child(3n+1){margin: 30px auto;}

    .catalog-page__content-catalog-product{
        display: block;
        text-align: center;
        min-width: 300px;
        width: 300px;
        margin: 30px auto;
    }

    .catalog-page__content-carousel > .carousel-skin{
    width: 67%;
    }

    .catalog-page__content-catalog-pagination, .catalog-page__content-catalog-result{
        text-align: center;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .catalog-page__control-filter-select{
        padding-top: 10px;
    }

    .catalog-page__control-filter > span{
        padding-right: 0;
    }

    .catalog-page__filter-subtitle{
        margin-left: 0;
        margin-right: 0;
    }

}

@media (min-width: 768px) and (max-width: 991px){

    .catalog-page__content-catalog-product:nth-child(3n+2){margin-left: 20px;
    margin-right: 20px;}

    .catalog-page__content-carousel > .carousel-skin{
    width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .catalog-page__filter-subtitle{
        margin-right: 50px;
    }

    .catalog-page__content-catalog-product:nth-child(3n+2){ margin-right: 20px;
    margin-left: 20px;
    }

    .catalog-page__control-filter{
        padding-top: 20px;
        text-align: left;
    }

    .catalog-page__content-carousel > .carousel-skin{
    width: 80%;
    }

    .carousel-link-best-products > span{
        padding-left: 10px;
    }


}